<app-loading *ngIf="loading"></app-loading>
<div class="container column gap-1">
  <h1>Settings</h1>

  <div class="infos">
    <app-snackbar
      *ngIf="messages[0].length !== 0"
      [message]="messages[0]"
    ></app-snackbar>

    <h2>User details</h2>
    <form [formGroup]="details" (ngSubmit)="updateUser()">
      <div class="name column">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          [placeholder]="placeholders.name"
          formControlName="name"
          autocomplete="name"
        />
      </div>
      <div class="email column">
        <label for="email">Email Address</label>
        <input
          [ngClass]="{ wrong: show[0] && details.get('email')?.invalid }"
          type="email"
          id="email"
          name="email"
          [placeholder]="placeholders.email"
          formControlName="email"
          autocomplete="email"
        />
        <p
          [ngClass]="{
            error: true,
            show: show[0] && details.get('email')?.invalid
          }"
        >
          "Invalid Email."
        </p>
      </div>
      <div class="occupation column">
        <label for="occupation">Occupation</label>
        <input
          type="text"
          id="occupation"
          name="occupation"
          [placeholder]="placeholders.occupation"
          formControlName="occupation"
        />
      </div>
      <div formGroupName="password" class="column gap-half">
        <div class="new column">
          <label for="new-password">New Password</label>
          <div>
            <input
              [ngClass]="{ wrong: show[0] && details.get('password')?.invalid }"
              [type]="type[0]"
              id="new-password"
              name="new-password"
              autocomplete="new-password"
              formControlName="original"
            />
            <div (click)="toggle(0)" class="icon">
              <svg
                *ngIf="type[0] === 'text'"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
              >
                <path
                  fill="#878787"
                  d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                />
              </svg>
              <svg
                *ngIf="type[0] === 'password'"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
              >
                <path
                  fill="#878787"
                  d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="confirm column">
          <label for="confirm-password">Confirm Password</label>
          <div>
            <input
              [ngClass]="{ wrong: show[0] && details.get('password')?.invalid }"
              [type]="type[1]"
              id="confirm-password"
              name="confirm-password"
              formControlName="confirm"
              autocomplete="new-password"
            />
            <div (click)="toggle(1)" class="icon">
              <svg
                *ngIf="type[1] === 'text'"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
              >
                <path
                  fill="#878787"
                  d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                />
              </svg>
              <svg
                *ngIf="type[1] === 'password'"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
              >
                <path
                  fill="#878787"
                  d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z"
                />
              </svg>
            </div>
          </div>
        </div>
        <p
          [ngStyle]="{ 'margin-top': '-0.5rem' }"
          [ngClass]="{
            error: true,
            show: show[0] && details.get('password')?.invalid
          }"
        >
          {{
            details
              .get("password.original")
              ?.errors?.hasOwnProperty("minlength")
              ? "Password must be at least 8 characters long."
              : "passwords do not match."
          }}
        </p>
      </div>
      <div class="current column">
        <label for="current-password">Current Password</label>
        <div>
          <input
            [type]="type[2]"
            [ngClass]="{
              wrong: show[0] && details.get('currentPassword')?.invalid
            }"
            id="current-password"
            name="current-password"
            formControlName="currentPassword"
            autocomplete="current-password"
          />
          <div (click)="toggle(2)" class="icon">
            <svg
              *ngIf="type[2] === 'text'"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512"
            >
              <path
                fill="#878787"
                d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
              />
            </svg>
            <svg
              *ngIf="type[2] === 'password'"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="#878787"
                d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z"
              />
            </svg>
          </div>
        </div>
        <p
          [ngClass]="{
            error: true,
            show: show[0] && details.get('currentPassword')?.invalid
          }"
        >
          {{ "Password is required." }}
        </p>
      </div>
      <div class="buttons row gap-half">
        <button type="submit" class="btn primary-btn">Save</button>
        <button type="reset" class="btn secondary-btn">Cancel</button>
      </div>
    </form>
  </div>

  <div class="lists-tags gap-1" [ngStyle]="{ position: 'relative' }">
    <div class="lists column">
      <app-snackbar
        *ngIf="messages[1].length !== 0"
        [message]="messages[1]"
      ></app-snackbar>
      <h2>Lists</h2>
      <form
        id="tit"
        class="column gap-1"
        ngForm
        #categoriesForm="ngForm"
        (ngSubmit)="saveCategories(categoriesForm)"
      >
        <ng-container *ngFor="let category of placeholders.categories">
          <div class="column gap-half">
            <div
              class="item-container row align-center gap-1"
              [id]="category.title"
            >
              <div class="color-container">
                <div
                  class="color"
                  [ngStyle]="{ 'background-color': category.color }"
                ></div>
              </div>
              <input
                type="text"
                [placeholder]="category.title"
                name="{{ category.title }}"
                ngModel
              />
              <svg
                (click)="deleteCategory(category.title)"
                class="trash"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="red"
                  d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                />
              </svg>
            </div>
            <div class="colors row align-center wrap">
              <div *ngFor="let color of colors">
                <div
                  class="color"
                  [ngStyle]="{ 'background-color': color, cursor: 'pointer' }"
                  (click)="changeColor('category', category.title, color)"
                ></div>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="buttons row gap-half">
          <button
            type="button"
            (click)="deleteCategories()"
            class="btn transparent-btn"
          >
            Clear All
          </button>
          <button type="submit" form="tit" class="btn primary-btn">Save</button>
          <button type="reset" form="tit" class="btn secondary-btn">
            Cancel
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="placeholders.tags?.length !== 0" class="tags column">
      <app-snackbar
        *ngIf="messages[2].length !== 0"
        [message]="messages[2]"
      ></app-snackbar>

      <h2>Tags</h2>
      <form
        class="tags column"
        (ngSubmit)="saveTags(tagsForm)"
        ngForm
        #tagsForm="ngForm"
        id="tot"
        class="column gap-1"
      >
        <ng-container *ngFor="let tag of placeholders.tags">
          <div class="column gap-half">
            <div class="item-container row align-center gap-1" [id]="tag.title">
              <div class="color-container">
                <div
                  class="color"
                  [ngStyle]="{ 'background-color': tag.color }"
                ></div>
              </div>
              <input
                type="text"
                [placeholder]="tag.title"
                name="{{ tag.title }}"
                ngModel
              />
              <svg
                (click)="deleteTag(tag.title)"
                class="trash"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="red"
                  d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                />
              </svg>
            </div>
            <div class="colors row align-center wrap">
              <div *ngFor="let color of colors">
                <div
                  class="color"
                  [ngStyle]="{ 'background-color': color, cursor: 'pointer' }"
                  (click)="changeColor('tag', tag.title, color)"
                ></div>
              </div>
            </div>
          </div>
        </ng-container>
        <div
          *ngIf="placeholders.tags?.length !== 0"
          class="buttons buttom row gap-half"
        >
          <button
            type="button"
            class="btn transparent-btn"
            (click)="deleteTags()"
            form="tot"
          >
            Clear All
          </button>
          <button type="submit" form="tot" class="btn primary-btn">Save</button>
          <button type="reset" form="tot" class="btn secondary-btn">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="infos">
    <app-snackbar
      *ngIf="messages[3].length !== 0"
      [message]="messages[3]"
    ></app-snackbar>
    <h2>Delete account</h2>
    <form #delete="ngForm" (ngSubmit)="deleteAccount(delete)">
      <div class="current column">
        <label for="password">Password</label>
        <div>
          <input
            [type]="type[3]"
            [ngClass]="{
              wrong: show[1] && password.invalid
            }"
            id="password"
            name="password"
            ngModel
            required
            autocomplete="password"
            #password="ngModel"
          />
          <div (click)="toggle(3)" class="icon">
            <svg
              *ngIf="type[3] === 'text'"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512"
            >
              <path
                fill="#878787"
                d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
              />
            </svg>
            <svg
              *ngIf="type[3] === 'password'"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="#878787"
                d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z"
              />
            </svg>
          </div>
        </div>
        <p
          [ngClass]="{
            error: true,
            show: show[1] && password.invalid
          }"
        >
          {{ "Password is required." }}
        </p>
      </div>
      <div class="buttons row gap-half">
        <button type="submit" class="btn primary-btn">Delete</button>
        <button type="reset" class="btn secondary-btn">Cancel</button>
      </div>
    </form>
  </div>
</div>
