.container {
  padding: 1rem 2rem;
}

h1 {
  color: var(--clr-black);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

form > div {
  margin-bottom: 0.5rem;
}

.new > div,
.confirm > div,
.current > div {
  position: relative;
}

.icon {
  position: absolute;
  height: 100%;
  top: 0;
  padding-inline: 0.7rem;
  display: flex;
  place-content: center;
  right: 0;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

input.wrong {
  border: 1px solid rgba(255, 3, 3, 0.3);
}

input:focus {
  outline-color: black;
}

input.wrong:focus {
  outline-color: red;
}

svg {
  display: block;
  width: 1rem;
  aspect-ratio: 1;
}

.error {
  font-size: 0.8rem;
  color: red;
  text-align: end;
  display: none;
}

.show.error {
  display: block;
}

.buttons {
  justify-content: flex-end;
}

.btn {
  flex: 1;
  max-width: 8rem;
}

.lists-tags {
  display: flex;
}

.lists,
.tags {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border-radius: 8px;
}

.item-container {
  position: relative;
}

.color-container {
  position: absolute;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  width: 40%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}

.item-container input {
  padding-left: 2rem;
}

.trash {
  cursor: pointer;
  width: 0.8rem;
  aspect-ratio: 1;
}

@media screen and (max-width: 1024px) {
  .lists-tags {
    flex-direction: column;
  }
}

.buttons {
  margin-top: auto;
}

.infos {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1rem 2rem;

  position: relative;
  border-radius: 8px;
}

h2 {
  margin-bottom: 1.5rem;
}

.buttons {
  margin-top: 2rem;
}

.lists,
.tags {
  position: relative;
}

.lists form,
.tags form {
  flex: 1;
}

.lists .buttons,
.tags .buttons {
  margin-top: auto;
}
