.container {
  height: 100%;
  padding: 1.5rem 3rem;
  overflow-x: hidden;
}

h1 {
  color: var(--clr-black);
  font-weight: 700;
}

p {
  line-height: 1.5;
  font-weight: 400;
  color: var(--clr-dark-grey);
}
