<div class="container column gap-2">
  <div class="row space-between align-center">
    <h2>{{ date | date : "MMM dd, yyyy" }}</h2>
    <div class="icon" (click)="onClick()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          fill="#787878"
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
        />
      </svg>
    </div>
  </div>
  <div class="column gap-half">
    <div *ngFor="let task of tasks">
      <p
        [ngClass]="{
     
      done: task.done && compare(task),
      'not-done': !task.done && compare(task),
      yet:!compare(task),
    }"
      >
        <i
          class="fa-regular"
          [ngClass]="{
        'fa-regular': true,
        'fa-circle': !compare(task),
        'fa-circle-check': task.done && compare(task),
        'fa-circle-xmark': !task.done && compare(task),
        'fa-sharp': !task.done && compare(task),
      }"
        ></i>
        {{ task.title }}
      </p>
    </div>
  </div>
</div>
