<div class="wrapper column">
  <div *ngIf="!show" (click)="open()" class="hamburger-menu p">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="container column" *ngIf="show">
    <div class="row align-center space-between">
      <h2 class="title">Menu</h2>
      <div class="hamburger-menu" (click)="close()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <div
      class="search-field"
      id="search-field"
      #searchField
      (click)="onClick(searchField.id)"
    >
      <label for="search">Search</label>
      <input
        type="text"
        placeholder="Search"
        name="search"
        (keydown.enter)="send()"
        [formControl]="searchControl"
        id="search"
      />
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            fill="#878787"
            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
          />
        </svg>
      </div>
    </div>

    <h3 class="sub-title">tasks</h3>
    <div class="options column">
      <div
        class="option row align-center"
        id="upcoming"
        [ngClass]="{ selected: selected === upcoming.id }"
        #upcoming
        (click)="onClick(upcoming.id)"
      >
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              fill="#878787"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            />
          </svg>
        </div>
        <p class="key">Upcoming</p>
        <div class="count">{{ current?.upcoming }}</div>
      </div>

      <div
        class="option row align-center"
        id="today"
        [ngClass]="{ selected: selected === today.id }"
        #today
        (click)="onClick(today.id)"
      >
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              fill="#878787"
              d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
            />
          </svg>
        </div>

        <p class="key">Today</p>
        <div class="count">{{ current?.today }}</div>
      </div>

      <div
        class="option row align-center"
        id="calendar"
        [ngClass]="{ selected: selected === calendar.id }"
        #calendar
        (click)="onClick(calendar.id)"
      >
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              fill="#878787"
              d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"
            />
          </svg>
        </div>

        <p class="key">Calendar</p>
      </div>

      <div
        class="option row align-center"
        id="sticky-wall"
        [ngClass]="{ selected: selected === sticky.id }"
        #sticky
        (click)="onClick(sticky.id)"
      >
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              fill="#878787"
              d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H288V368c0-26.5 21.5-48 48-48H448V96c0-35.3-28.7-64-64-64H64zM448 352H402.7 336c-8.8 0-16 7.2-16 16v66.7V480l32-32 64-64 32-32z"
            />
          </svg>
        </div>

        <p class="key">Sticky Wall</p>
      </div>
    </div>

    <h3 class="sub-title">Lists</h3>

    <div class="categories column">
      <ng-container *ngFor="let category of categories">
        <ng-container
          *ngTemplateOutlet="categoryTemplate; context: { $implicit: category }"
        ></ng-container>
      </ng-container>

      <div
        class="category row align-center gap-half"
        id="add-list"
        [ngClass]="{ selected: selected === addList.id }"
        #addList
        (click)="onClick(addList.id)"
      >
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <p class="key">Add new list</p>
      </div>
      <div *ngIf="selected === 'add-list'" class="list column gap-1">
        <div class="list-input">
          <label for="list">List name</label>
          <input
            type="text"
            name="list"
            id="list"
            placeholder="List Name"
            (keydown.enter)="createCategory(category)"
            #category
          />
          <div class="color">
            <div [ngStyle]="{ 'background-color': color }"></div>
          </div>
        </div>
        <div class="colors row align-center wrap">
          <div *ngFor="let color of colors">
            <div
              class="color"
              [ngStyle]="{ 'background-color': color, cursor: 'pointer' }"
              (click)="onColorChange(color)"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="sub-title">tags</h3>

    <div class="tags row align-center wrap">
      <ng-container *ngFor="let tag of tags">
        <ng-container
          *ngTemplateOutlet="tagTemplate; context: { $implicit: tag }"
        ></ng-container>
      </ng-container>
      <div
        class="tag row align-center gap-half"
        id="add-tag"
        [ngClass]="{ selected: selected === addTag.id }"
        #addTag
        (click)="onClick(addTag.id)"
      >
        <div>
          <i class="fa-solid fa-plus" style="color: #212529"></i>
        </div>
        <p class="key">Add tag</p>
      </div>
      <div *ngIf="selected === 'add-tag'" class="list column gap-1">
        <div class="list-input">
          <label for="tag">Tag name</label>
          <input
            type="text"
            name="tag"
            id="tag"
            placeholder="Tag Name"
            (keydown.enter)="createTag(tag)"
            #tag
          />
          <div class="color">
            <div [ngStyle]="{ 'background-color': color }"></div>
          </div>
        </div>
        <div class="colors row align-center wrap">
          <div *ngFor="let color of colors">
            <div
              class="color"
              [ngStyle]="{ 'background-color': color, cursor: 'pointer' }"
              (click)="onColorChange(color)"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="option bottom row align-center"
      id="settings"
      [ngClass]="{ selected: selected === settings.id }"
      #settings
      (click)="onClick(settings.id)"
    >
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            fill="#878787"
            d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"
          />
        </svg>
      </div>

      <p class="key">Settings</p>
    </div>

    <div
      class="option row align-center"
      id="sign-out"
      [ngClass]="{ selected: selected === signout.id }"
      #signout
      (click)="logout(signout.id)"
    >
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            fill="#878787"
            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
          />
        </svg>
      </div>
      <p class="key">Sign out</p>
    </div>
  </div>
</div>

<ng-template let-category #categoryTemplate>
  <div
    class="category row align-center"
    [id]="category.title"
    [ngClass]="{ selected: selected === category.title && option === 'list' }"
    (click)="onClick(category.title, 'list')"
  >
    <div class="color" [ngStyle]="{ 'background-color': category.color }"></div>
    <p class="key">{{ category.title }}</p>
    <div class="count">{{ category.count || 0 }}</div>
  </div>
</ng-template>

<ng-template let-tag #tagTemplate>
  <div
    class="tag"
    [id]="tag.title"
    [ngClass]="{ selected: selected === tag.title && option === 'tag' }"
    [ngStyle]="{
      color: hexToRGBA(tag.color, 1)
    }"
    (click)="onClick(tag.title, 'tag')"
  >
    <p class="key">{{ "#" + tag.title }}</p>
  </div>
</ng-template>
