.wrapper {
  height: 100%;
}

.container {
  flex: 1;
  background-color: var(--clr-soft-grey);
  width: 18rem;
  min-height: calc(100vh - 2rem);
  padding: 0.8rem 0.7rem;
  border-radius: 8px;
  position: sticky;
  top: 1rem;
}

.icon {
  width: 1.2rem;
  aspect-ratio: 1;
  display: flex;
  place-content: center;
  cursor: pointer;
}

input[type="text"],
input[type="datetime-local"],
textarea {
  width: 100%;
  background-color: var(--clr-soft-grey);
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  resize: none;
}

li:has(input:checked) {
  background-color: white;
  border-radius: 5px;
}

ul {
  list-style: none;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
}

form {
  margin-top: 2.5rem;
  flex: 1;
}

ul input {
  display: none;
}

li label {
  font-size: 0.8rem;
  padding: 0.4em;
  cursor: pointer;
}

.buttons {
  margin-top: auto;
  align-self: flex-end;
}

app-dropdown {
  height: 100%;
}

.m-r {
  margin-right: 1.5rem;
}

.w {
  width: 2rem;
}

.btn {
  font-size: 0.8rem;
}

input.wrong {
  border: 1px solid rgba(255, 3, 3, 0.3);
}

input.wrong:focus {
  outline-color: red;
}

.error {
  font-size: 0.8rem;
  color: red;
  text-align: end;
  display: none;
}

.show.error {
  display: block;
}
