.container {
  z-index: 3;
  position: absolute;
  width: max-content;
  max-width: 80%;
  background-color: #ffcccc;
  top: 1rem;
  left: 50%;
  font-size: 0.9rem;
  transform: translateX(-50%);
  padding: 0.7rem 2rem;
  border-radius: 8px;
  animation: fadein 1s, fadeout 1s 2.5s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
