.container {
  height: 100%;
  padding: 1.5rem 3rem;
  overflow-x: hidden;
}

h1 {
  color: var(--clr-black);
  font-weight: 700;
}

form > div {
  margin-bottom: 0.5rem;
}

form > button {
  margin-top: 0.5rem;
}

.password,
.confirm-password {
  position: relative;
}

.icon {
  position: absolute;
  height: 100%;
  top: 0;
  padding-inline: 0.7rem;
  display: flex;
  place-content: center;
  right: 0;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

#password,
#confirm-password {
  padding-right: 2rem;
}

input:focus {
  outline-color: black;
}

svg {
  display: block;
  width: 1rem;
  aspect-ratio: 1;
}

label {
  display: none;
}

input.wrong {
  border: 1px solid rgba(255, 3, 3, 0.3);
}

input.wrong:focus {
  outline-color: red;
}

.error {
  margin-top: -0.5rem;
  font-size: 0.8rem;
  color: red;
  text-align: end;
  display: none;
}

.show.error {
  display: block;
}
